Pyro4==4.81
argparse==1.2.1
feedparser>=6,<7
gensim>=4,<5
lxml==4.9.1
numpy~=1.21
opml==0.5
scipy~=1.7
serpent==1.40
git+git://github.com/samuelclay/gensim-simserver.git@master#egg=simserver
sqlitedict~=1.7.0
